.listed {
    font-family: "Lucida Console", "Times New Roman", sans-serif;
    font-weight: 700;
    text-align: left;
    color: #e5e672;
    font-size: 32px;
    
}

.background{
    background-color: #1357a6;
}
