
html, body {
    margin: 0;
  }

.heading {
    color: #FDFD96;
    padding: 1em;
    margin: 1em;
    text-align: center;
    font-weight: 700;
}

.listed {
    font-family: Blippo, "Times New Roman", sans-serif;
    color: #FDFD96;
    font-size: 32px;
    text-align: center;
    list-style: none;
    padding: 1em;
    
}

.background{
    background-color: RGB(15,90,94);
}

a {
    text-decoration: none;
    color: gold;
}


img {
    height: auto;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    color: gold;
}