.heading,
.listed{
    color: #FDFD96;
    font-weight: 700px;
}

html, body {
    margin: 0;
  }

.heading {
    border: 3px;
    border-style: solid;
    border-color: goldenrod;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

.listed {
    font-family: Blippo, "Times New Roman", sans-serif;
    color: #FDFD96;
    font-size: 32px;
    text-align: center;
    list-style: none;
    border:3px; 
    border-style:solid; 
    border-color:#FF0000; 
    padding: 1em;
    
}

.background{
    background-color: RGB(15,90,94);
}

a {
    text-decoration: none;
    color: gold;
}


img {
    height: auto;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
